.svelte-kit/
.vscode/
node_modules/
build/
build-tauri/
dist/
static/tmp/
*.crt
*.key
.secret_git
.output
.idea
.vercel
bun.lockb
bun.lockb.txt
package-lock.json
vite.config.js.timestamp-*
.env*
.aider*
*storybook.log
test-results

# Paraglide
src/lib/paraglide
project.inlang/cache

# Custom
.local/*
**/.claude/settings.local.json
.DS_Store

# Sentry Config File
.env.sentry-build-plugin
.claude
.dev_intention
