@import './normalize.css';

:root {
 --menu-height: 58px;
 --shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
 --icon-black: #000;
 --icon-white: #fff;
 --icon-gray: #888;
 --icon-yellow: #fd1;
 --icon-red: #dc2626;
 --icon-blue: #00f;
 --messages-bubble-max-width: 60%;

 /* Colors */
 --yellow-primary: #ffdd11;
 --yellow-bg: #fefdf7;

 /* theme colors */
 --color-primary: #fd1;
 --color-primary-slightly-lighter: #fd3;
 --color-primary-light: #ffa;
 --color-primary-lighter: #ffd;
 --color-secondary: #d80;
 --color-tertiary: #ffdd1150;
 --color-background: #fff;

 --color-text: #000;

 /* Box shadows */
 --yellow-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

 --scroll-bar-color: #ca0;
 --scroll-bar-color-background: #fea;
}

* {
 scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-color-background);
}

@media (prefers-reduced-motion: no-preference) {
 html {
  interpolate-size: allow-keywords;
 }
}

body {
 font-family: 'Ubuntu', sans-serif;
 margin: 0px;
}

.bold {
 font-weight: bold;
}

/**
 * Utils
 */

.button-reset {
 text-align: inherit;
 border: none;
 margin: 0;
 padding: 0;
 width: auto;
 overflow: visible;
 background: transparent;

 /* inherit font & color from ancestor */
 color: inherit;
 font: inherit;

 /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
 line-height: normal;

 /* Corrects font smoothing for webkit */
 -webkit-font-smoothing: inherit;
 -moz-osx-font-smoothing: inherit;

 /* Corrects inability to style clickable `input` types in iOS */
 -webkit-appearance: none;
}

.floating {
 position: absolute;
 width: max-content;
 top: 0;
 left: 0;
}

/**
 * Animations
 */

:root {
 --animation-highlight-duration: 0.5;
}

@keyframes pulse {
 0% {
  transform: scale(1);
 }
 50% {
  transform: scale(1.2);
 }
 100% {
  transform: scale(1);
 }
}

.animation-highlight {
 animation: pulse var(--animation-highlight-duration) ease-in-out !important;
}
