:root {
 --menu-height: 72px;
 --shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
 --loader-color: #000;
}

* {
 scrollbar-width: thin;
 scrollbar-color: #999 #bbb;
}

body {
 font-family: 'Ubuntu', sans-serif;
 margin: 0px;
}

.bold {
 font-weight: bold;
}

.loader {
 margin: 0 auto;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background:
  radial-gradient(farthest-side, var(--loader-color) 94%, transparent) top/8px 8px no-repeat,
  conic-gradient(transparent 30%, var(--loader-color));
 -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 8px), var(--loader-color) 0);
 animation: loader 1s infinite linear;
}

@keyframes loader {
 100% {
  transform: rotate(1turn);
 }
}

.modal .body input {
 padding: 10px;
 border: 1px solid #999;
 border-radius: 10px;
}
