:root {
 --menu-height: 72px;
 --shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
 --loader-color: #000;
}

* {
 scrollbar-width: thin;
 scrollbar-color: #999 #bbb;
}

body {
 font-family: 'Ubuntu', sans-serif;
 margin: 0px;
}

.button {
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding: 10px;
 border-radius: 10px;
 background-color: #fd1;
 font-weight: bold;
 cursor: pointer;
}

.button.disabled {
 background-color: #bbb;
}

.bold {
 font-weight: bold;
}

.loader {
 margin: 0 auto;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background:
  radial-gradient(farthest-side, var(--loader-color) 94%, transparent) top/8px 8px no-repeat,
  conic-gradient(transparent 30%, var(--loader-color));
 -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 8px), var(--loader-color) 0);
 animation: loader 1s infinite linear;
}

@keyframes loader {
 100% {
  transform: rotate(1turn);
 }
}

.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

.switch .slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: 0.4s;
 transition: 0.4s;
 border-radius: 34px;
}

.switch .slider:before {
 position: absolute;
 content: '';
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: 0.4s;
 transition: 0.4s;
 border-radius: 50%;
}

input:checked + .slider {
 background-color: #fd1;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

.switch input:focus-visible + .slider {
 outline: auto;
}

.modal .body input {
 padding: 10px;
 border: 1px solid #999;
 border-radius: 10px;
}
