:root {
 --menu-height: 58px;
 --shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
 --messages-bubble-max-width: 60%;
}

* {
 scrollbar-width: thin;
 scrollbar-color: #ca0 #fea;
}

body {
 font-family: 'Ubuntu', sans-serif;
 margin: 0px;
}

.bold {
 font-weight: bold;
}

.button-reset {
 text-align: inherit;
 border: none;
 margin: 0;
 padding: 0;
 width: auto;
 overflow: visible;

 background: transparent;

 /* inherit font & color from ancestor */
 color: inherit;
 font: inherit;

 /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
 line-height: normal;

 /* Corrects font smoothing for webkit */
 -webkit-font-smoothing: inherit;
 -moz-osx-font-smoothing: inherit;

 /* Corrects inability to style clickable `input` types in iOS */
 -webkit-appearance: none;
}
