:root {
 --menu-height: 58px;
 --shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
 --messages-bubble-max-width: 60%;
}

* {
 scrollbar-width: thin;
 scrollbar-color: #ca0 #fea;
}

body {
 font-family: 'Ubuntu', sans-serif;
 margin: 0px;
}

.bold {
 font-weight: bold;
}
